@{
    ViewBag.Title = "About";
}


<b>müsteri ekleme</b>

<form action="Kaydet">

	<table>
		<tr>

			<td>
				<label for="txt_müsteriID"> Müsteri ID</label>
			</td>
			<td>
				<input type="text" name="txt_müsteriID" rows="1">
			</td>

		</tr>
		<tr>
			<td>
				<label for="txt_müsteriadi"> Müsteri Adi</label>

			</td>
			<td>
				<input type="text" name="txt_müsteriadi" rows="1">
			</td>

		</tr>


		<tr>

			<td>
				<label for="txt_contactTitle"> Müsteri Unvanı</label>
			</td>
			<td>
				<input type="text" name="txt_contactTitle" rows="1">
			</td>


		</tr>


		<tr>

			<td>
				<label for="txt_companyName">Şirket Adı</label>


			</td>
			<td>
				<input type="text" name="txt_companyName" rows="1" />
			</td>

		</tr>


		<tr>

			<td>
				<label for="txt_adres">Adres</label>


			</td>
			<td>
				<input type="text" name="txt_adres" rows="1" />
			</td>

		</tr>


		<tr>

			<td>
				<label for="txt_sehir">Şehir</label>


			</td>
			<td>
				<input type="text" name="txt_sehir" rows="1" />
			</td>

		</tr>


















	</table>







	<input type="submit" value="kaydet" />



	

</form>





